
body{
margin: 0;
padding: 0;
}
.container{
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background:url("Assests/snakebg.jpg");
background-size: 100vw 100vh;
} 
#gameboard{
width: 80vmin;
height: 80vmin;
border: 10px solid black;
display: grid;
grid-template-columns: repeat(25,1fr);
grid-template-rows: repeat(25,1fr);
background-color: white;
box-shadow: 0 4px 8px 0 rgb(45, 67, 5), 0 6px 20px 0 rgb(45, 67, 5);
}
h2{
background-color: darkgreen;
padding: 5px;
border-radius: 10px;
}
.food{
    background: url("Assests/sankefood.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
}
.head{
    background: url("Assests/snakehead.jpg");
    background-size: 100% 100%;
    border-radius: 5px;
}
.snake{
    background-color: rgb(161, 248, 32);
    border: .25vmin solid darkgreen;
    border-radius: 10px ;
}
#scorey{
    font-family: "Barriecito", system-ui;
    box-shadow: 0 4px 8px 0 rgb(51, 75, 9), 0 6px 20px 0 rgb(45, 67, 5);
}